@tailwind base;
@tailwind components;
@tailwind utilities;

@unit: 0.25rem;
// 统一颜色入口，方便更换主题颜色
.menu-bg {
  @apply bg-gray-700 dark:bg-gray-200;
}

.router-link-active.drawer-list {
  font-weight: 400;
  @apply text-gray-600;
}

.menu-stick {
  width: (5 * @unit);
  height: (0.5 * @unit);
  border-radius: (0.5 * 0.5 * @unit);
  .menu-bg();
}

// 没有动画的菜单按钮
.menu-static {
  height: (5 * @unit);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;

  & > div {
    .menu-stick();
  }
}

.menu-movable {
  .menu-static();
  &:hover {
    & > div:first-of-type {
      transition: transform 100ms ease-in-out;
      transform: translateY(1.5 * @unit) rotate(90deg);
    }
    & > div:last-of-type {
      transition: transform 100ms ease-in-out;
      transform: translateY(-1.5 * @unit) rotate(90deg);
    }
  }
}

.cross {
  cursor: pointer;
  height: (5 * @unit);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    .menu-stick();
    &:first-of-type {
      transform: translateY(1px) rotate(45deg);
    }
    &:last-of-type {
      transform: translateY(-1px) rotate(-45deg);
    }
  }
}

.cross-movable {
  .cross();

  &:hover {
    & > div:first-of-type {
      transform: translateY(1px);
      transition: transform 100ms ease-in-out;
    }
    & > div:last-of-type {
      transform: translateY(-1px);
      transition: transform 100ms ease-in-out;
    }
  }
}

// header展开动画，不使用 width，不定宽度动画不生效
.draw-enter-active,
.draw-leave-active {
  transition: all 500ms;
}

.draw-enter-from,
.draw-leave-to {
  max-width: 0;
}

.draw-enter-to,
.draw-leave-from {
  max-width: 100vw;
}

// 从上面渐入的动画
.fade-in-top-enter-active,
.fade-in-top-leave-active {
  transition: all 300ms;
}

.fade-in-top-enter-from,
.fade-in-top-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 200ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// 右侧滑入动画
@slide-time: 200ms;

.slide-in-right-enter-from,
.slide-in-right-leave-to {
  transform: translateX(100%);
}

.slide-in-right-enter-active,
.slide-in-right-leave-active {
  transition: all @slide-time;
}
// 空动画，为了让外层的组件不立即销毁
.wait-slide-in-right-enter-active,
.wait-slide-in-right-leave-active {
  transition: all @slide-time;
}

// .slide-in-right {
//   animation-name: slide-in-right;
//   animation-duration: 300ms;
// }

// .slide-out-right {
//   animation-name: slide-out-right;
//   animation-duration: 300ms;
// }

// @keyframes slide-in-right {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes slide-out-right {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100%);
//   }
// }
